<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@300;400;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>OCR APP</title>
</head>
<body>
    <div class="container">
        <div id="new-note">
            <div id="save-text">
                <header id="header">
                    <h1>{{header}}</h1>
                    <h2>{{subHeader}}</h2>
                </header>

                <div id="image">
                    <label for="file-input">
                        <img id="main-image" :src="shownImage" alt="image to text">
                    </label>
                    <input type="file" accept="image/*;capture=camera" id="file-input" @change="changeImg">
                </div>

                <div id="submit-area">
                    <button id="get-text" v-show="showButton" type="submit" @click="getText">
                        <p>GET TEXT</p> 
                    </button>
                </div>

                <div id="extracted-text-area">
                    <h3 v-show="showText">Your extracted text is below:</h3>
                    <label for="content">
                        <textarea v-show="showText" v-model="newContent" id="extracted-text"></textarea>
                    </label>
                </div>

                <div id="save-notes-area">
                    <h4 v-show="showSaveInfo">Do you want to save this to your notes?</h4>
                    
                    <label v-show="showTitleInput" for="title">Title
                        <input v-show="showTitleInput" v-model="newTitle" type="text" id="title" placeholder="My title...">
                        <button v-show="showTitleInput"  id="save-button" @click="createnote">Save</button>
                    </label>
                    
                    <div id="yes-no-buttons">
                        <button id="yes-button" v-show="showSaveInfo" @click="showTitle">Yes</button>
                        <button id="no-button" v-show="showSaveInfo" @click="deleteText">No</button>
                    </div>

                </div>


                <ul class="note-list">
                        <li v-for="(note,index) in notes" class="note" @click="note.showDetail = !note.showDetail">
                            <div class="curl"></div>
                            <p v-if="note.title" v-bind:key="note.showDetail">{{ note.title.toUpperCase() }}
                                <span v-on:click='notes.splice(index, 1)' class="delete-note">X</span>
                            </p>
                            <transition name="roll">    
                                <p v-bind="note" v-show="note.showDetail">{{ note.content.toLowerCase() }}</p>
                            </transition>
                        </li>
                </ul>
            </div>
        </div>
    </div>
    
    <script type='text/javascript' src='config.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>
<!-- background image from http://sophiebenoitstudio.blogspot.com/2014/11/wrinkled-paper-wallpaper.html -->